/* html {
    padding: 20px;
} */

#mainpage, #menupage {
    padding: 20px;
}

#menupage {
    height: 100%;
    display:flex;
    align-items: center;
}

#menuinner {
    width:100%;
}

/* #menuinner button {
    margin-top: 30px;
    margin-bottom: 30px;
} */

a {
    text-decoration:none;
    color: inherit;
}

.img {
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.text{
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (orientation: portrait), (max-width:400px) { 
    .text{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

#footer {
    margin-top: 30px;
    font-size: 12px;
}

#img1 {
    background-image: url(./img/icon-01.png);
}
#img2 {
    background-image: url(./img/icon-02.png);
}
#img3 {
    background-image: url(./img/icon-03.png);
}
#img4 {
    background-image: url(./img/icon-04.png);
}
#img5 {
    background-image: url(./img/icon-05.png);
}

#loadOverlay{display: none;}